.header {
    margin: 15vh 40px;
    font-family: var(--header-font);
    height: 100vh;
    text-align: center;
    padding-top: 100px;
}

.sub-header {
    font-size: 32px;
    font-style: italic;
    animation-name: header-scroll;
    animation-duration: 4s; /* animation duration has to match iterval time in headerScroll.js! */
    animation-iteration-count: infinite;
}

@keyframes header-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}