@import './vars.css';
@import './navbar.css';
@import './header.css';
@import './projects.css';
@import './aboutme.css';
@import './contact.css';
@import './footer.css';

body {  


  color: var(--orange);
  
  margin: 0;
  height: 100vh;
  overflow-x: hidden;

  font-family: var(--body-font);
}

.section-header {
  font-size: 48px;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 50px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--orange);
}

.gradient-background {
  background: linear-gradient(var(--drk-blue), var(--bg-white) 20%, var(--off-blue));
  /* background: linear-gradient(var(--drk-blue), var(--bg-white) 20%, rgb(121, 215, 247)); */
  background-repeat: no-repeat;
  background-size: cover;
}
