@import './vars.css';
@import './navbar.css';
@import './header.css';
@import './projects.css';
@import './aboutme.css';
@import './contact.css';
@import './footer.css';

body {
    background: var(--white);
  
  color: black;
  
  margin: 0;
  height: 100vh;

  font-family: var(--body-font);
}