.navbar {
    height: 10vh;
    width: 100%;
    background: var(--white);
    position: fixed;
    top: 0;
}

.navbar button {
    height: 10vh;
    margin: 0;
    float: right;

    background-color: inherit;
    border: thin solid transparent;
    padding: 10px;
    font-family: var(--header-font);
}

.navbar button:hover {
    background-color: var(--drk-gray);
    color: white;
}

#brand {
    float: left;
}