@import url('https://fonts.googleapis.com/css2?family=Kufam&family=Roboto&display=swap');

@font-face {
  font-family: bettynoir;
  src: url('../assets/fonts/bettynoir.ttf');
}

@font-face {
  font-family: grenadier;
  src: url('../assets/fonts/GrenadierNF.otf');
}

@font-face {
  font-family: ironick;
  src: url('../assets/fonts/IronickNF.otf');
}

:root {
    --header-font: grenadier, sans-serif;
    --body-font: ironick, sans-serif;
    
    /* --header-font: 'Kufam', cursive;
    --body-font: 'Roboto', sans-serif; */

    /* Blue and Orange color palette */    
    --drk-blue: #272C48;
    --off-blue: #52566D;
    --orange: #FF4F19;
    /* --orange: #ED5A14; */
    --bg-white: #F2F2F2;   
}