@import url('https://fonts.googleapis.com/css2?family=Kufam&family=Roboto&display=swap');

:root {
    --header-font: 'Kufam', cursive;
    --body-font: 'Roboto', sans-serif;

    --drkblue: #565ba3;
    --blue: #7db4dd;
    --lgblue: #86eef6;
    --mint: #7bffac;
    --yellow: #e0ff6a;
    --white: #f0eff7;
}